openai-whisper==20231117
click==8.1.7
ffmpeg-python==0.2.0
TTS==0.22.0
pydub==0.25.1
transformers==4.44.2
sentencepiece==0.2.0
torch==2.4.0
opencv-python-headless==4.10.0.84
torchvision==0.19.0
librosa==0.10.1
soundfile==0.12.1
scipy==1.11.4
gradio==4.44.0
yt-dlp==2024.10.7
moviepy==1.0.3
katna==0.2.3
demucs==4.0.1
vosk==0.3.45